@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply max-w-app mx-auto w-full px-4;
}

@utility active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

:target {
  scroll-margin-block: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

@media (max-width: 640px) {
  :root {
    --astro-transition-duration: 150ms;
  }
}

.progress-container,
.progress-bar {
  display: none;
}

@supports (animation-timeline: scroll()) {
  .progress-container {
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-background);
  }

  .progress-bar {
    display: block;
    width: 100%;
    height: 4px;
    background: var(--color-accent);
    transform-origin: left;
    animation: reading-progress auto linear;
    animation-timeline: scroll();
  }
}

@keyframes reading-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
